.amazing-slider {
  width: 100%;
  height: 464px;
  display: flex;
  justify-content: center;
  .amazing-slider-center {
    width: 100%;
    height: inherit;

    .amazing-slider-center-top {
      width: 100%;
      height: 64px;
      background-color: #ef3d53;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .amazing-slider-center-bottom {
      width: 100%;
      height: 400px;
    }
    .swiper {
      width: 100%;
      height: 100%;
      border-radius: 0 0 10px 10px;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
