.banner-3{
    width: 100%;
    height: 167px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    .banner-3-center{
        width: 85%;
        height: inherit;
        .banner-3-center-img{
            width: 100%;
            height: inherit;
            border-radius: 16px;
        }
    }
}