.footer {
  width: 100%;
  min-height: 965px;
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  .footer-center {
    width: 95%;
    height: inherit;
    padding-right: 10px;
    .footer-center-top {
      width: 100%;
      height: 70px;
      display: flex;
      align-items: center;
      padding-top: 30px;
      justify-content: space-between;
      .footer-center-top-svg {
        width: 195px;
        height: 30px;
      }
      .footer-center-top-id {
        width: 138px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        border: 1px solid #e0e0e2;
        border-radius: 9px;
        margin-left: 20px;
        h1 {
          font-size: 12px;
          font-family: var(--fontFamily);
          color: #a1a3a8;
        }
      }
    }
    .footer-center-backing {
      width: 100%;
      height: 40px;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      column-gap: 23px;
      padding-top: 4px;
      p {
        font-family: var(--fontFamily);
        font-size: 12px;
        color: #3f4064;
      }
      span {
        width: 1px;
        height: 12px;
        background-color: #b6a3bb;
      }
    }
    .footer-center-container {
      width: 100%;
      height: 150px;
      display: flex;
      align-items: center;
      .footer-center-container-item {
        width: 20%;
        height: inherit;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column wrap;
        img {
          width: 56px;
          height: 56px;
        }
        p {
          font-family: var(--fontFamily);
          font-size: 11px;
          color: #3f4064;
        }
      }
    }
    .footer-center-item {
      width: 100%;
      height: 270px;
      display: flex;
      align-items: center;
      .footer-center-item-digikala {
        width: 430px;
        height: inherit;
        display: flex;
        flex-flow: column wrap;
        line-height: 38px;
        h1 {
          font-family: var(--fontFamily);
          font-size: 16px;
        }
        a {
          font-family: var(--fontFamily);
          font-size: 14px;
          text-decoration: none;
          color: #81858f;
        }
      }
      .footer-center-item-service {
        width: 441px;
        height: inherit;
        display: flex;
        flex-flow: column wrap;
        line-height: 38px;
        h1 {
          font-family: var(--fontFamily);
          font-size: 16px;
        }
        a {
          font-family: var(--fontFamily);
          font-size: 14px;
          text-decoration: none;
          color: #81858f;
        }
      }
      .footer-center-item-guide {
        width: 440px;
        height: inherit;
        display: flex;
        flex-flow: column wrap;
        line-height: 38px;
        h1 {
          font-family: var(--fontFamily);
          font-size: 16px;
        }
        a {
          font-family: var(--fontFamily);
          font-size: 14px;
          text-decoration: none;
          color: #81858f;
        }
      }
      .footer-center-item-items {
        width: 334px;
        height: inherit;
        display: flex;
        flex-flow: column wrap;
        h1 {
          font-family: var(--fontFamily);
          font-size: 16px;
          margin-bottom: 5px;
          padding-top: 5px;
        }
        .footer-center-item-items-social-media {
          width: 100%;
          height: 60px;
          display: flex;
          margin-bottom: 23px;
          
          a {
            width: 20%;
            height: inherit;
            padding-top: 15px;
            .linkdin{
                margin-top: -5px;
            }
            img {
              width: 50px;
              height: 50px;

            }
          }
        }
        .footer-center-item-items-email-title {
          width: 100%;
          height: 155px;
          h1 {
            font-family: var(--fontFamily);
            font-size: 16px;
            margin-bottom: 5px;
            padding-top: 5px;
            margin-bottom: 12px;
          }

          .footer-center-item-items-email-title-registration {
            width: 100%;
            height: 48px;
            input[type="email"] {
              width: 262px;
              height: 48px;
              padding: 10px;
              font-size: 15px;
              border: 1px solid #ccc;
              border-radius: 7px;
              font-family: var(--fontFamily);
              color: #b3b4b8;
              background-color: #f0f0f1;
              outline: none;
              caret-color: #ef4056;
            }
            button {
              width: 57px;
              height: inherit;
              font-family: var(--fontFamily);
              padding: 10px;
              font-size: 15px;
              border: 1px solid #e0e0e2;
              border-radius: 7px;
              font-family: var(--fontFamily);
              color: #ffffff;
              background-color: #e0e0e2;
              outline: none;
              margin-right: 3px;
            }

            input:valid + button {
              background-color: #ef4056;
              cursor: pointer;
            }
            .loading-dots {
              display: none;
              margin-left: 10px;
            }
            input:valid + button:active + .loading-dots {
              display: inline-block;
            }
            .loading-dots {
              position: absolute;
              top: 14px;
              left: 7px;
              .loading-dots-1 {
                display: inline-block;
                width: 8px;
                height: 8px;
                margin: 0 1px;
                background-color: #e0e0e2;
                border-radius: 50%;
                animation: blink 1s infinite;
              }
              .loading-dots-2 {
                display: inline-block;
                width: 8px;
                height: 8px;
                margin: 0 1px;
                background-color: #e0e0e2;
                border-radius: 50%;
                animation: blink 1s infinite;
              }
              .loading-dots-3 {
                display: inline-block;
                width: 8px;
                height: 8px;
                margin: 0 1px;
                background-color: #e0e0e2;
                border-radius: 50%;
                animation: blink 1s infinite;
              }
            }
          }
        }
      }
    }
    .footer-center-app {
      width: 100%;
      height: 106px;
      border-bottom: 1px solid #f0f0f1;
      margin-bottom: 5px;
      margin-top: 30px;
      padding-left: 5px;
      display: flex;
      .footer-center-app-item {
        width: 100%;
        height: 77px;
        background-color: #3c4b6d;
        border-radius: 8px;
        display: flex;

        .footer-center-app-item-right {
          width: 23%;
          height: inherit;
          display: flex;
          align-items: center;
          padding-right: 20px;
          column-gap: 15px;
          img {
            width: 44px;
            height: 44px;
          }
          h1 {
            font-size: 21px;
            font-family: var(--fontFamily);
            color: #ffffff;
          }
        }
        .footer-center-app-item-left {
          width: 77%;
          height: inherit;
          display: flex;
          align-items: center;
          .footer-center-app-item-left-link {
            width: 93%;
            height: inherit;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            column-gap: 15px;
            .footer-center-app-item-left-link-app {
              text-decoration: none;
              img {
                width: 142px;
                height: 44px;
              }
            }
          }
          .footer-center-app-item-left-more {
            width: 44px;
            height: 44px;
            border-radius: 4px;
            background-color: #ffffff;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 23px;
            margin-bottom: 5px;
            img {
              width: 42px;
              height: 44px;
            }
          }
        }
      }
    }
    .footer-center-explanations {
      width: 100%;
      height: 190px;
      display: flex;
      justify-content: space-between;
      margin-top: 30px;
      border-bottom: 1px solid #f0f0f1;
      transition: 0.3s;
      .footer-center-explanations-right {
        width: 73%;
        padding-left: 40px;
        h1 {
          font-size: 21px;
          font-family: var(--fontFamily);
          color: #4a4c52;
          margin-bottom: 10px;
        }
        .footer-center-explanations-right-text {
          font-family: var(--fontFamily);
          font-size: 12px;
          color: #707479;
          line-height: 25px;
          h2 {
            font-size: 16px;
            margin: 5px 0;
          }
          .right-text-line {
            opacity: 0.65;
          }
          a {
            text-decoration: none;
            color: #2fcae2;
          }
          .line {
            display: block;
          }
          .footer-center-explanations-right-text-line-fade {
            opacity: 0.35;
            display: block;
          }
          .toggle-label-more {
            display: flex;
            align-items: center;
            margin-top: 15px;
            cursor: pointer;
            p {
              display: block;
              color: #19c0d6;
            }
            img {
              width: 18px;
              height: 18px;
            }
          }
          .toggle-label-less {
            display: flex;
            align-items: center;
            margin-top: 30px;
            cursor: pointer;
            p {
              display: block;
              color: #19c0d6;
            }
            img {
              width: 18px;
              height: 18px;
            }
          }
          .toggle-label-less {
            display: none;
          }
          .hidden {
            display: none;
          }
        }
      }
      .footer-center-explanations-left {
        width: 27%;
        height: inherit;
        display: flex;
        .footer-center-explanations-left-center {
          width: 100%;
          height: 109px;
          display: flex;
          column-gap: 15px;
          justify-content: flex-end;
          a {
            width: 109px;
            height: inherit;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #e0e0e2;
            border-radius: 8px;
            background-color: #ffffff;
            img {
              width: 75px;
              height: 75px;
              object-fit: contain;
            }
          }
        }
      }
    }
    .toggle-checkbox {
      display: none;
    }
    .toggle-checkbox:checked
      ~ .footer-center-explanations
      .footer-center-explanations-right
      .footer-center-explanations-right-text
      .footer-center-explanations-right-text-line-fade {
      opacity: 1;
    }
    .toggle-checkbox:checked
      ~ .footer-center-explanations
      .footer-center-explanations-right
      .footer-center-explanations-right-text
      .right-text-line {
      opacity: 1;
    }
    .toggle-checkbox:checked
      ~ .footer-center-explanations
      .footer-center-explanations-right
      .footer-center-explanations-right-text
      .toggle-label-less {
      display: flex;
    }
    .toggle-checkbox:checked
      ~ .footer-center-explanations
      .footer-center-explanations-right
      .footer-center-explanations-right-text
      .toggle-label-more {
      display: none;
    }
    .toggle-checkbox:checked
      ~ .footer-center-explanations
      .footer-center-explanations-right
      .footer-center-explanations-right-text
      .hidden {
      display: block;
    }
    .toggle-checkbox:checked ~ .footer-center-explanations {
      min-height: 1310px;
    }
    .footer-center-bottom {
      width: 100%;
      height: 88px;
      display: flex;
      align-items: center;
      justify-content: center;
      .footer-center-bottom-title {
        font-family: var(--fontFamily);
        font-size: 11px;
        color: #85878b;
      }
    }
  }
}
