.header {
  width: 100%;
  height: 170px;
  box-shadow: 0 1px 2px #d8d8d8;
  .header-top {
    width: inherit;
    height: 60px;
    img {
      width: inherit;
      height: inherit;
      object-fit: cover;
    }
  }
  .header-center {
    width: inherit;
    height: 60px;
    display: flex;
    .header-center-logo {
      width: 15%;
      height: inherit;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-left: 20px;
      img {
        width: 190px;
        height: 30px;
      }
    }
    .header-center-search {
      width: 65%;
      height: inherit;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: start;
      .header-center-search-link {
        display: flex;
        position: relative;
        img {
          position: absolute;
          top: -11px;
          right: 14px;
        }
      }
      [type="text"] {
        width: 600px;
        height: 44px;
        background-color: #f0f0f1;
        outline: none;
        border: none;
        border-radius: 7px;
        padding-right: 53px;
        font-family: var(--fontFamily);
        font-size: 12px;
        &::plceholder {
          font-family: var(--fontFamily);
          font-size: 25px;
        }
      }
    }
    .header-center-login {
      width: 20%;
      height: inherit;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: flex-end;
      margin-left: 13px;
      padding: 10px;
      column-gap: 15px;

      .header-center-login-link {
        display: flex;
        width: 130px;
        height: 40px;
        border: 1px solid #e0e0e2;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;
        padding: 0 14px;
        text-decoration: none;
        font-family: var(--fontFamily);
        font-size: 12px;
        color: #0c0c0c;
        border-radius: 8px;
        span {
          display: inline-block;
          width: 1.6px;
          height: 12px;
          background-color: #0c0c0c;
          margin-right: 1px;
        }
      }
      .header-center-login-cart {
        img {
          margin-top: 5px;
          margin-right: 6px;
          width: 24px;
          height: 24px;
        }
      }
      span {
        display: inline-block;
        width: 1px;
        height: 25px;
        background-color: #e0e0e2;
        margin-right: -3px;
      }
    }
  }
  .header-bottom {
    width: 100%;
    height: calc(170px - 60px - 60px);
    display: flex;
    flex-flow: row nowrap;
    .header-bottom-right {
      width: 70%;
      height: inherit;
      display: flex;
      padding-right: 80px;
      margin-top: 5px;
      margin-left: 10px;
      nav {
        width: 100%;
        height: inherit;
        display: flex;
        flex-flow: row wrap;
        margin-right: -90px;
        position: relative;
        div {
          width: fit-content;
          height: inherit;
          display: flex;
          align-items: center;
          .span {
            display: inline-block;
            width: 1px;
            height: 16px;
            background-color: #e0e2e1;
            margin-top: 18px;
          }
          .span-1 {
            display: inline-block;
            width: 1px;
            height: 16px;
            background-color: #e0e0e2;
            margin-top: 18px;
            margin-right: 12px;
          }
          a {
            width: inherit;
            height: inherit;
            padding: 0px 10px;
            display: flex;
            align-items: center;
            text-decoration: none;
            font-family: var(--fontFamily);
            font-size: 12px;
            color: rgb(82, 81, 81);
          }
          .right-amazing {
            margin: 0 2px;

            position: relative;
            img {
              width: 18px;
              height: 18px;
              margin-left: 3px;
            }
            &::before {
              content: "";
              position: absolute;
              top: 45px;
              left: 0;
              width: 0%;
              height: 2px;
              background: #efe9e9;
              transition: 300ms;
            }
            &:hover::before {
              width: 100%;
              background: red;
            }
          }
          .right-supermarket {
            margin: 0 2px;

            position: relative;
            i {
              font-size: 14px;
              color: #a1a3a8;
              margin-left: 3px;
            }
            &::before {
              content: "";
              position: absolute;
              top: 45px;
              left: 0;
              width: 0%;
              height: 2px;
              background: #efe9e9;
              transition: 300ms;
            }
            &:hover::before {
              width: 100%;
              background: red;
            }
          }

          .right-giftcard {
            margin: 0 2px;

            position: relative;
            img {
              width: 18px;
              height: 18px;
              margin-left: 4px;
            }
            &::before {
              content: "";
              position: absolute;
              top: 45px;
              left: 0;
              width: 0%;
              height: 2px;
              background: #efe9e9;
              transition: 300ms;
            }
            &:hover::before {
              width: 100%;
              background: red;
            }
          }
          .right-searchtrend {
            margin: 0 2px;

            position: relative;
            img {
              width: 18px;
              height: 18px;
              margin-left: 3px;
            }
            &::before {
              content: "";
              position: absolute;
              top: 45px;
              left: 0;
              width: 0%;
              height: 2px;
              background: #efe9e9;
              transition: 300ms;
            }
            &:hover::before {
              width: 100%;
              background: red;
            }
          }
          .right-discount {
            margin: 0 2px;

            position: relative;
            img {
              width: 18px;
              height: 18px;
              margin-left: 3px;
            }
            &::before {
              content: "";
              position: absolute;
              top: 45px;
              left: 0;
              width: 0%;
              height: 2px;
              background: #efe9e9;
              transition: 300ms;
            }
            &:hover::before {
              width: 100%;
              background: red;
            }
          }
          .right-question {
            margin: 0 2px;

            position: relative;
            &::before {
              content: "";
              position: absolute;
              top: 45px;
              left: 0;
              width: 0%;
              height: 2px;
              background: #efe9e9;
              transition: 300ms;
            }
            &:hover::before {
              width: 100%;
              background: red;
            }
          }
          .right-selling {
            margin: 0 2px;

            position: relative;
            &::before {
              content: "";
              position: absolute;
              top: 45px;
              left: 0;
              width: 0%;
              height: 2px;
              background: #efe9e9;
              transition: 300ms;
            }
            &:hover::before {
              width: 100%;
              background: red;
            }
          }
        }
      }
    }
    .header-bottom-left {
      flex: 0 0 30%;
      height: inherit;
      display: flex;
      flex-flow: row wrap;
      align-items: flex-end;
      justify-content: flex-end;
      .left-map-icon {
        display: flex;
        text-decoration: none;
        font-family: var(--fontFamily);
        font-size: 12px;
        color: #f67f17 !important;
        column-gap: 7px;
        margin: 0 0 10px 20px;
        outline: aquamarine;
        border: aquamarine;
        border-radius: 7px;
        background-color: #fef6ef;

        img {
          width: 20px;
          height: 20px;
          margin-top: -1px;
          fill: #f67f17;
        }
      }
    }
  }
}

.activeMenu {
  font-weight: bold !important;
  font-size: 14px !important;
  color: rgb(72, 72, 72) !important;
  margin: 0 2px;
  position: relative;
  img {
    width: 16px;
    height: 16px;
    margin: 0 8px;
  }
  &::before {
    content: "";
    position: absolute;
    top: 45px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #efe9e9;
    transition: 300ms;
  }
  &:hover::before {
    width: 100%;
    background: red;
  }
}

.swiper-slide-item,
.swiper-button-next,
.swiper-button-prev {
  cursor: pointer;
}
