.header {
  width: 100%;
  height: 170px;
  box-shadow: 0 1px 2px #d8d8d8;
  position: sticky;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
    background-color: white;
  .header-top {
    width: inherit;
    height: 60px;
    img {
      width: inherit;
      height: inherit;
      object-fit: cover;
    }
  }
  .header-center {
    width: inherit;
    height: 60px;
    display: flex;
    .header-center-logo {
      width: 15%;
      height: inherit;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-left: 20px;
      img {
        width: 190px;
        height: 30px;
      }
    }
    .header-center-search {
      width: 65%;
      height: inherit;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: start;
      .header-center-search-link {
        display: flex;
        position: relative;
        img {
          position: absolute;
          top: -11px;
          right: 14px;
        }
      }
      [type="text"] {
        width: 600px;
        height: 44px;
        background-color: #f0f0f1;
        outline: none;
        border: none;
        border-radius: 7px;
        padding-right: 53px;
        font-family: var(--fontFamily);
        font-size: 12px;
        &::plceholder {
          font-family: var(--fontFamily);
          font-size: 25px;
        }
      }
    }
    .header-center-login {
      width: 20%;
      height: inherit;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: flex-end;
      margin-left: 13px;
      padding: 10px;
      column-gap: 15px;

      .header-center-login-link {
        display: flex;
        width: 130px;
        height: 40px;
        border: 1px solid #e0e0e2;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;
        padding: 0 14px;
        text-decoration: none;
        font-family: var(--fontFamily);
        font-size: 12px;
        color: #0c0c0c;
        border-radius: 8px;
        span {
          display: inline-block;
          width: 1.6px;
          height: 12px;
          background-color: #0c0c0c;
          margin-right: 1px;
        }
      }
      .header-center-login-cart {
        img {
          margin-top: 5px;
          margin-right: 6px;
          width: 24px;
          height: 24px;
        }
      }
      span {
        display: inline-block;
        width: 1px;
        height: 25px;
        background-color: #e0e0e2;
        margin-right: -3px;
      }
    }
  }
  .amazing-header-bottom {
    width: inherit;
    height: 43px;
    display: flex;
    flex-flow: row wrap;
    background-color: white;
    margin-right: -40px;
    margin-top: 7px;
    
  }
  .amazing-header-bottom-right {
    width: 80%;
    height: inherit;
    padding-right: 110px;
    .amazing-menu {
      width: 100%;
      height: inherit;
      display: flex;
      flex-flow: row wrap;
      .amazing-menu-nav-item {
        width: fit-content;
        height: inherit;
        .amazing-menu-nav-link {
          display: block;
          width: fit-content;
          height: inherit;
          text-decoration: none;
          padding: 0 9px;
          display: flex;
          align-items: center;
          font-family: var(--fontFamily);
          font-size: 12px;
          color: #75777a;
          transition: 300ms;
          position: relative;
          margin-top: -10px;
         
          span {
            width: 1px;
            height: 17px;
            background-color: lightgray;
          margin-top: -20px;

          }
          .amazing-percentage {
            width: 28px;
            height: 28px;
            display: inline-block;
            align-items: center;
            color: #a1a3a8;
            padding: 5px;
             margin: 0 2px;

            position: relative;
            
          }
          .fa-shopping-basket {
            font-size: 15px;
            display: flex;
            align-items: center;
            color: #a1a3a8;
            padding-left: 5px;
          }
          .amazing-img-bars {
            width: 25px;
            height: 20px;
            display: inline-block;
            align-items: center;
            padding-left: 5px;
          }
        }
        .amazing-menu-nav-submenu {
          width: 60vw;
          height: 76vh;
          position: absolute;
          z-index: 9999;
          display: none;
          border-radius: 0 0 0 8px;
          border: 1px solid #dedede;
          box-shadow: 0px 0px 10px 0px #2b2b2b;
          .amazing-menu-nav-submenu-category {
            width: 19%;
            height: 100%;
            overflow: auto;
            direction: ltr;
            .amazing-menu-nav-submenu-category-item {
              width: 100%;
              height: 52px;
              background-color: #f0f0f1;
              display: flex;
              align-items: center;
              flex-flow: row wrap;
              justify-content: flex-end;
              column-gap: 10px;
              padding-right: 10px;
              .amazing-menu-nav-submenu-category-item-link {
                text-decoration: none;
                font-family: var(--fontFamily);
                font-size: 12px;
                color: #424750;
                
              }
              .amazing-menu-nav-submenu-category-item-submenu {
                width: 81%;
                height: 100%;
                background-color: white;
                position: absolute;
                left: 0;
                top: 0;
                display: none;
                border-radius: 0 0 0 8px;
                overflow: auto;
                padding-right: 20px;
                .amazing-menu-nav-submenu-category-item-submenu-top {
                  width: 100%;
                  height: 70px;
                  display: flex;
                  align-items: center;
                  justify-content: flex-end;
                  .amazing-menu-nav-submenu-category-item-submenu-top-title {
                    font-family: var(--fontFamily);
                    font-size: 12px;
                    text-decoration: none;
                    color: #008eb2;
                    display: flex;
                    align-items: center;
                    column-gap: 5px;
                    .amazing-menu-nav-submenu-category-item-submenu-top-title-svg {
                      width: 16px;
                      height: 16px;
                    }
                  }
                }
                .amazing-menu-nav-submenu-category-item-submenu-bottom {
                  direction: rtl;
                  width: 100%;
                  height: 69.2vh;
                  display: flex;
                  justify-content: flex-start;
                  .amazing-menu-nav-submenu-category-item-submenu-bottom-item1 {
                    width: 25%;
                    height: inherit;
                    .amazing-menu-nav-submenu-category-item-submenu-bottom-item1-text {
                      width: 100%;
                      height: 40px;
                      display: flex;
                      align-items: center;
                      justify-content: flex-start;
                      .amazing-menu-nav-submenu-category-item-submenu-bottom-item1-text-link {
                        text-decoration: none;
                        font-size: 14px;
                        font-family: var(--fontFamily);
                        display: flex;
                        align-items: center;
                        color: #0c0c0c;
                        .amazing-menu-nav-submenu-category-item-submenu-bottom-item1-text-svg {
                          width: 16px;
                          height: 16px;
                        }
                        .amazing-menu-nav-submenu-category-item-submenu-bottom-item1-text-span {
                          width: 2px;
                          height: 14px;
                          margin: 8px;
                        }
                        
                      }
                    }
                    .amazing-menu-nav-submenu-category-item-submenu-bottom-item1-text2 {
                      width: 100%;
                      height: 34px;
                      display: flex;
                      align-items: center;
                      justify-content: flex-start;
                      .amazing-menu-nav-submenu-category-item-submenu-bottom-item1-text2-link {
                        text-decoration: none;
                        font-size: 12px;
                        font-family: var(--fontFamily);
                        display: flex;
                        align-items: center;
                        color: #81858b;
                       
                      }
                    }
                  }
                }
              }
              &:hover .amazing-menu-nav-submenu-category-item-submenu {
                display: block;
              }
              .amazing-menu-nav-submenu-category-item-link-svg {
                width: 18px;
                height: 18px;
              }
              &:hover {
                background-color: white;
              }
              &:hover .amazing-menu-nav-submenu-category-item-link {
              }
            }
          }
        }
        &:hover .amazing-menu-nav-submenu {
          display: block;
        }
      }
      .amazing-menu-nav-items {
        width: fit-content;
        height: inherit;
          margin-top: -10px;

        a {
          display: block;
          width: fit-content;
          height: inherit;
          text-decoration: none;
          padding: 0 9px;
          display: flex;
          align-items: center;
          font-family: var(--fontFamily);
          font-size: 12px;
          color: #75777a;
          transition: 300ms;
         
          span {
            width: 1px;
            height: 17px;
            background-color: lightgray;
          margin-top: -1px;

          }
          .amazing-percentage {
            width: 28px;
            height: 28px;
            display: inline-block;
            align-items: center;
            color: #a1a3a8;
            padding: 5px;
             position: relative;
            img {
              width: 18px;
              height: 18px;
              margin-left: 3px;
            }
            &::before {
              content: "";
              position: absolute;
              top: 45px;
              left: 0;
              width: 0%;
              height: 2px;
              background: #efe9e9;
              transition: 300ms;
            }
            &:hover::before {
              width: 100%;
              background: red;
            }
          }
          .fa-shopping-basket {
            font-size: 15px;
            display: flex;
            align-items: center;
            color: #a1a3a8;
            padding-left: 5px;
          }
          .amazing-img-bars {
            width: 25px;
            height: 20px;
            display: inline-block;
            align-items: center;
            padding-left: 5px;
          }
        }
      }
    }
  }
  .amazing-left {
    width: 20%;
    height: inherit;
    padding-right: 80px;
    margin-top: -10px;

    nav {
      width: 100%;
      height: inherit;
      display: flex;
      flex-flow: row wrap;
      .amazing-show-label {
        width: fit-content;
        height: inherit;
        display: block;
        display: flex;
        align-items: center;
        font-family: var(--fontFamily);
        font-size: 12px;
        padding-right: 80px;
        color: #75777a;
        cursor: pointer;
        .amazing-img-map {
          width: 25px;
          height: 20px;
          display: inline-block;
          align-items: center;
          padding-left: 5px;
        }
        .amazing-left-city-hide {
          width: 315px;
          height: 70px;
          border: 1px solid #23254e;
          background-color: #3f4064;
          border-radius: 3px;
          position: absolute;
          bottom: -73px;
          left: 80px;
          padding-left: 30px;
          line-height: 25px;
          display: flex;
          align-items: center;
          padding-right: 10px;
          display: none;
          p {
            font-family: var(--fontFamily);
            font-size: 12px;
            color: #fff;
          }
        }
        &:hover .amazing-left-city-hide {
          display: flex;
        }
      }
    }
  }
}

.activeMenu {
  font-weight: bold !important;
  font-size: 14px !important;
  color: rgb(72, 72, 72) !important;
  margin: 0 2px;
  margin-bottom: -20px;
  position: relative;
  img {
    width: 16px;
    height: 16px;
    margin: 0 8px;
  }
  &::before {
    content: "";
    position: absolute;
    top: 45px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #efe9e9;
    transition: 300ms;
  }
  &:hover::before {
    width: 100%;
    background: red;
  }
}
.supermarket{
  position: relative;
  img {
    width: 16px;
    height: 16px;
  }
  &::before {
    content: "";
    position: absolute;
    top: 52px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #efe9e9;
    transition: 300ms;
  }
  &:hover::before {
    width: 100%;
    background: red;
  }
}

.swiper-slide-item,
.swiper-button-next,
.swiper-button-prev {
  cursor: pointer;
}

.amazing-activeMenu {
  font-weight: bold !important;
  color: black !important;
  font-size: 14px !important;
}
.active {
  display: block !important;
}