* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: IRANYEKANBOLD;
  src: url(../../fonts/fa/IRANYekanWeb-Bold.eot);
  src: url(../../fonts/fa/IRANYekanWeb-Bold.ttf);
  src: url(../../fonts/fa/IRANYekanWeb-Bold.woff);
  src: url(../../fonts/fa/IRANYekanWeb-Bold.woff2);
}

@font-face {
  font-family: cube;
  src: url(../../fonts/fa/cube.eot);
  src: url(../../fonts/fa/cube.ttf);
  src: url(../../fonts/fa/cube.woff);
  src: url(../../fonts/fa/cube.woff2);
}
@font-face {
  font-family: ARezvan-fat;
  src: url(../../fonts/fa/ARezvan-fat/ARezvan-fat.eot);
  src: url(../../fonts/fa/ARezvan-fat/ARezvan-fat.ttf);
  src: url(../../fonts/fa/ARezvan-fat/ARezvan-fat.woff);
  src: url(../../fonts/fa/ARezvan-fat/ARezvan-fat.woff2);
}
:root {
  --fontFamily2: cube;
  --fontFamily: IRANYEKANBOLD;
  --fontnumber: ARezvan-fat;
  .wrapper {
    width: 100%;
  }
  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    width: 40px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    border: 1px solid lightgray;
  }
  .swiper-button-prev:after,
  .swiper-rtl .swiper-button-next:after {
    font-size: 12px;
    color: #2b2b2b;
    font-weight: bold !important;
  }
  .swiper-button-next.swiper-button-disabled,
  .swiper-button-prev.swiper-button-disabled {
    opacity: 0;
  }
  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets
    .swiper-pagination-bullet {
    width: 5px;
    height: 5px;
    background-color: #ffffff;
    transition: 300ms;
  }
  .swiper-pagination-bullet-active {
    width: 20px !important;
    height: 5px;
    border-radius: 3px;
    background-color: #ffffff !important;
  }

  
}
::-webkit-scrollbar{
  width: 8px;
  background-color: #F0F0F1;
}
::-webkit-scrollbar-thumb{
  width: 8px;
  background-color: #C0C2C5;
}
html{
  scroll-behavior: smooth;
}
