.story {
  width: 100%;
  height: 170px;
  display: flex;
  margin-top: 20px;
  justify-content: center;
  .story-center {
    width: 80%;
    height: inherit;
    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      .swiper-slide-item {
        width: inherit;
        height: inherit;
        padding-top: 10px;
        text-align: center;

        img {
          width: 74px;
          height: 74px;
          border-radius: 50%;
          outline: 2px solid #a6469b;
          outline-offset: 3px;
          display: block;
          margin: 10px auto;
          margin-bottom: 15px;
        }
        h6 {
          width: 70%;
          margin: 10px auto;
          font-family: var(--fontFamily);
          font-size: 10px;
          font-weight: normal;
          line-height: 20px;

          color:#3F4064;
        }
        .swiper-slide-item-clip {
          display: -webkit-box;
          position: relative;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
          text-overflow: ellipsis;
          line-height: 1.5em;
          &:hover {
            position: absolute;
            content: "";
            display: flex;
            left: 0px;
            top: 0px;
            padding: 5px;
            background-color: black;
            color: white;
            transition: 300ms;
          }
        }
      }
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

