.supermarket {
  width: 100%;
  height: 110px;
  background-color: aqua;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  .supermarket-center {
    width: 80%;
    height: inherit;
    background-color: blue;
    position: relative;

    .supermarket-center-link {
      width: 100%;
      height: 100%;
      display: flex;
      flex-flow: row wrap;
      text-decoration: none;
      position: relative;
      .supermarket-center-link-right {
        width: 50%;
        height: inherit;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: center;
        column-gap: 15px;
        padding-right: 30px;

        .supermarket-center-link-right-img-1 {
          width: 66px;
          height: 62px;
        }
        .supermarket-center-link-right-img-2 {
          width: 250px;
          height: 28px;
        }
        .supermarket-center-link-right-discount {
          width: 110px;
          height: 28px;
          background-color: #029a49;
          text-align: center;
          font-family: var(--fontFamily);
          font-size: 14px;
          line-height: 30px;
          color: whitesmoke;
          border-radius: 16px;
        }
      }
    }
    .supermarket-center-link-left {
      width: 45%;
      height: 110px;
      background-color: violet;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 100;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      padding: 0;
      a {
        display: block;
        width: 74px;
        height: 74px;
        text-decoration: none;
        background-color: whitesmoke;
        div {
          width: 100%;
          height: 100%;
          img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
        }
      }
    }
  }
}
