.supermarkett {
  width: 100%;
  height: 110px;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin-bottom: 10px;
  margin-top: -10px;
  position: relative;
  .supermarket-center {
    min-width: 85%;
    height: inherit;
    position: absolute;
    background-color: #f0f0f1;
    background: url(/image/svg/amazing-supermarket-gradiant.svg) left center
        no-repeat,
      #f0f0f1;
    border-radius: 17px;
    overflow: hidden;

    .amazing-supermarket-center-link {
      width: 100%;
      height: 100%;
      display: flex;
      flex-flow: row wrap;
      text-decoration: none;

      .amazing-supermarket-center-link-right {
        width: 40%;
        height: inherit;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        column-gap: 20px;
        align-items: center;
        padding-right: 30px;
        .supermarket-center-img-1 {
          width: 66px;
          height: 62px;
        }
        .supermarket-center-img-2 {
          width: 250px;
          height: 28px;
        }
        .amazing-supermarket-center-discount {
          width: 110px;
          height: 29px;
          background-color: #2f9a45;
          text-align: center;
          font-family: var(--fontFamily);
          font-size: 14px;
          line-height: 30px;
          color: #f7ffff;
          border-radius: 16px;
        }
      }
    }
   .amazing-supermarket-center-link-left-1 {
      width: 45%;
      height: 110px;
      position: absolute;
      left: 0px;
      top: 0px;
      z-index: 100;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: center;
      .amazing-supermarket-left-1-link {
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 74px;
        height: 74px;
        text-decoration: none;
        background-color: white;
        box-sizing: border-box;
        outline: none;
        border-radius: 50%;
        padding: 5px;
        .amazing-supermarket-left-1-link-circle {
          width: 100%;
          height: 100%;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          .supermarket-left-1-link-circle-img {
            border-radius: 50%;
            width: 90%;
            height: 90%;
          }
          .supermarket-left-1-link-circle-discount {
            width: 34px;
            height: 20px;
            display: inline-block;
            font-size: 13px;
            padding-right: 5px;
            border-radius: 10px;
            background-color: crimson;
            font-family: var(--fontNumber);
            color: whitesmoke;
            position: absolute;
            bottom: 0px;
            right: 0px;
          }
        }
      }
    } 
   .amazing-supermarket-center-link-left-2 {
      width: 45%;
      height: 110px;
      position: absolute;
      left: 262px;
      top: 0px;
      z-index: 100;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: center;
      .amazing-supermarket-left-2-link {
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 74px;
        height: 74px;
        text-decoration: none;
        background-color: white;
        box-sizing: border-box;
        outline: none;
        border-radius: 50%;
        padding: 5px;
        .amazing-supermarket-left-2-link-circle {
          width: 100%;
          height: 100%;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          .supermarket-left-2-link-circle-img {
            border-radius: 50%;
            width: 90%;
            height: 90%;
          }
          .supermarket-left-2-link-circle-discount {
            width: 34px;
            height: 20px;
            display: inline-block;
            font-size: 13px;
            padding-right: 5px;
            border-radius: 10px;
            background-color: crimson;
            font-family: var(--fontNumber);
            color: whitesmoke;
            position: absolute;
            bottom: 0px;
            right: 0px;
          }
        }
      }
    } 
   .amazing-supermarket-center-link-left-3 {
      width: 45%;
      height: 110px;
      position: absolute;
      left: 180px;
      top: 0px;
      z-index: 100;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: center;
      .amazing-supermarket-left-3-link {
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 74px;
        height: 74px;
        text-decoration: none;
        background-color: white;
        box-sizing: border-box;
        outline: none;
        border-radius: 50%;
        padding: 5px;
        .amazing-supermarket-left-3-link-circle {
          width: 100%;
          height: 100%;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          .supermarket-left-3-link-circle-img {
            border-radius: 50%;
            width: 90%;
            height: 90%;
          }
          .supermarket-left-3-link-circle-discount {
            width: 34px;
            height: 20px;
            display: inline-block;
            font-size: 13px;
            padding-right: 5px;
            border-radius: 10px;
            background-color: crimson;
            font-family: var(--fontNumber);
            color: whitesmoke;
            position: absolute;
            bottom: 0px;
            right: 0px;
          }
        }
      }
    } 
    .amazing-supermarket-center-link-left-4 {
      width: 45%;
      height: 110px;
      position: absolute;
      left: 98px;
      top: 0px;
      z-index: 100;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: center;
      .amazing-supermarket-left-4-link {
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 74px;
        height: 74px;
        text-decoration: none;
        background-color: white;
        box-sizing: border-box;
        outline: none;
        border-radius: 50%;
        padding: 5px;
        .amazing-supermarket-left-4-link-circle {
          width: 100%;
          height: 100%;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          .supermarket-left-4-link-circle-img {
            border-radius: 50%;
            width: 90%;
            height: 90%;
          }
          .supermarket-left-4-link-circle-discount {
            width: 34px;
            height: 20px;
            display: inline-block;
            font-size: 13px;
            padding-right: 5px;
            border-radius: 10px;
            background-color: crimson;
            font-family: var(--fontNumber);
            color: whitesmoke;
            position: absolute;
            bottom: 0px;
            right: 0px;
          }
        }
      }
    } 
  .amazing-supermarket-center-link-left-5 {
      width: 45%;
      height: 110px;
      position: absolute;
      left: 15px;
      top: 0px;
      z-index: 100;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: center;
      .amazing-supermarket-left-5-link {
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 74px;
        height: 74px;
        text-decoration: none;
        background-color: white;
        box-sizing: border-box;
        outline: none;
        border-radius: 50%;
        padding: 5px;
        .amazing-supermarket-left-5-link-circle {
          width: 100%;
          height: 100%;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          .supermarket-left-5-link-circle-img {
            border-radius: 50%;
            width: 90%;
            height: 90%;
          }
          .supermarket-left-5-link-circle-discount {
            width: 34px;
            height: 20px;
            display: inline-block;
            font-size: 13px;
            padding-right: 5px;
            border-radius: 10px;
            background-color: crimson;
            font-family: var(--fontNumber);
            color: whitesmoke;
            position: absolute;
            bottom: 0px;
            right: 0px;
          }
        }
      }
    } 
     .amazing-supermarket-center-link-left-6 {
      width: 45%;
      height: 110px;
      position: absolute;
      left: -67px;
      top: -0px;
      z-index: 100;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: center;
      .amazing-supermarket-left-6-link {
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 74px;
        height: 74px;
        text-decoration: none;
        background-color: white;
        box-sizing: border-box;
        outline: none;
        border-radius: 50%;
        padding: 5px;
        .amazing-supermarket-left-6-link-circle {
          width: 100%;
          height: 100%;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          .supermarket-left-5-link-circle-img {
            border-radius: 50%;
            width: 90%;
            height: 90%;
          }
          .supermarket-left-6-link-circle-discount {
            width: 34px;
            height: 20px;
            display: inline-block;
            font-size: 13px;
            padding-right: 5px;
            border-radius: 10px;
            background-color: crimson;
            font-family: var(--fontNumber);
            color: whitesmoke;
            position: absolute;
            bottom: 0px;
            right: 0px;
          }
        }
      }
    } 
    .supermarket-center-link-left-7 {
      width: 45%;
      height: 110px;
      position: absolute;
      left: -210px;
      top: 0;
      z-index: 100;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: center;
      a {
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 141.2px;
        height: 50.3px;
        text-decoration: none;
        background-color: white;
        box-sizing: border-box;
        outline: none;
        border-radius: 27px;
        column-gap: 10px;
        .supermarket-left-link-title {
          font-family: var(--fontFamily);
          font-size: 12px;
          color: #2b9c49;
        }
        .supermarket-left-link-svg {
          width: 20px;
          height: 20px;
        }
      }
    }
    .supermarket-center-svg {
      width: 45%;
      height: 110px;
      position: absolute;
      left: -6px;
      top: 0;
      z-index: 100;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: center;
    }
  }
}
